{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
   
    <div class="container">
        <div id="part1">
            <h1 class="title">Connectez-vous</h1>
            <form id="form" method="POST">
                <label class="labels">Email</label>
                <div>
                    <input type="text" name="email" class="form-control">
                </div>
                <label class="labels">Mot de passe</label>
                <div>
                    <input type="password" name="password" class="form-control">
                </div>
                
                <div class="buttonconnexion">
                    <button type="button" class="btn btn-success">Se connecter</button><a href="../OubliMotdePasse/oublimotdepasse.php" target="_blank"> Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
        <div id="part2">
            <h1 class="title">Pas encore de compte ?</h1>
            <h6>Vous êtes étudiant et vous n'avez pas encore de compte sur la plateforme ?</h6>
            <button class="buttoninscription">Accéder au formulaire d'inscription</button>
        </div>
    </div>

{% endblock %}