{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle catégorie de document{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie de document</h1>

    {% for message in app.flashes('SuccessCategDoc') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div class="container-fluid formEntité">
            {{ include('categorie_document/_form.html.twig') }}
        </div>
    </div>
    <div>
        <a href="{{ path('categorie_document_index') }}">
        	<button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button> 
        </a>
    </div>
{% endblock %}