{% extends 'base.html.twig' %}


{% block title %}Oublie de mot de passe{% endblock %}


{% block body %}


	<h1>Veuillez réinitialiser votre mot de passe</h1>

	<div class="container">
		<form id="form" method="POST">
			<label class="labels" >Email</label>
			<div>
				<input type="email" name="email" id="inputEmail" class="form-control">
			</div>
			<div class="buttonreinitialisation">
				<button type="submit" class="btn btn-success">Envoyer votre demande</button>
			</div>
		</form>
	</div>


{% endblock %}
