<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h1>Votre email vient d'être envoyé </h1>
	</div>
	
	<div>
		<h2>Veuillez patienter le temps que votre demande soit lue et répondu par un administrateur</h2>
	</div>

	<div>
		<p>Vous receverez une réponse avec un nouveau mot de passe temporaire
		et la date limite avant son expiration</p>
	</div>

=======
{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h1>Votre email vient d'être envoyé </h1>
	</div>
	
	<div>
		<h2>Veuillez patienter le temps que votre demande soit lue et répondu par un administrateur</h2>
	</div>

	<div>
		<p>Vous receverez une réponse avec un nouveau mot de passe temporaire
		et la date limite avant son expiration</p>
	</div>

>>>>>>> f9b85e7e6b9ffdd3a97db09b949c8190b04b60fe
{% endblock %}