{% extends 'base.html.twig' %}

{% block title %}Evénement{% endblock %}

{% block body %}
    <h1>Suppression</h1>
    <p>Cliquez sur le boutton Supprimer pour supprimer l'évènement choisi : {{evenement.nomEvenement}}</p>

    <div id="warning">
        <p><i class="fas fa-exclamation-triangle"></i> Attention : tous les inscriptions qui appartient à cette événement</p>
        <p>vont être supprimé de la base de donnée</p>
    </div>

    {{ include('evenement/_delete_form.html.twig') }}

    <div>
        <a href="{{ path('evenement_admin') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button>
        </a>
    </div>

{% endblock %}