{% extends 'base.html.twig' %}

{% block title %}Editer un événement{% endblock %}

{% block body %}
    <h1>Editer un événement</h1>

    {% for message in app.flashes('SuccessEvent') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <div class="container-fluid formEntité2" id="formEvent">
            {{ include('evenement/_form.html.twig') }}
        </div>
    </div>

    <div>
        <a href="{{ path('evenement_admin') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button>
        </a>
    </div>
{% endblock %}
