{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle catégorie d'élève{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie d'élève</h1>

    <p>Les champs avec '*' sont obligatoires </p>

    {% for message in app.flashes('SuccessCategEleve') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div class="container-fluid formEntité">
            {{ include('categorie_eleve/_form.html.twig') }}
        </div>
    </div>
    <div>
        <a href="{{ path('categorie_eleve_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button> 
        </a>
    </div>
{% endblock %}