{% extends 'base.html.twig' %}

{% block title %}Editer un document{% endblock %}

{% block body %}
    <h1>Editer un document</h1>

    <p>Les champs avec '*' sont obligatoires </p>

    {% for message in app.flashes('SuccessDoc') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <div>
        <div class="container-fluid formEntité2" id="formDoc">
            {{ include('document/_form.html.twig') }}
        </div>
    </div>
    <div>
        <a href="{{ path('document_admin') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button>
       </a>
    </div>
    
{% endblock %}
