{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <h2>
        Votre page n'a pas été trouvé.
    </h2>

    <p>
    	Veuillez vérifier votre URL pour des fautes d'orthographe
         ou revenir à la page d'accueil.
    </p>

    <a href="{{ path('homepage') }}">
    	<button class="btn btn-info">
    		Revenir à la page d'accueil
    	</button>
    </a>
{% endblock %}