{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        Votre page demandée n'a pas été trouvé!
    </p>

    <p>
    	Veuillez vérifier votre URL pour des fautes
    	 ou revenir dans la page d'accueil.
    </p>

    <a href="{{ path('homepage') }}">
    	<button class="btn btn-info">
    		Revenir à la page d'accueil
    	</button>
    </a>
{% endblock %}