{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        Vous n'avez pas l'autorisation d'accèder à cette page.
    </p>

    <p>
        Veuillez revenir à la page d'accueil.
    </p>

    <a href="{{ path('homepage') }}">
        <button class="btn btn-info">
            Revenir à la page d'accueil
        </button>
    </a>
{% endblock %}