{% extends 'base.html.twig' %}

{% block title %}Utilisateur {% endblock %}

{% block body %}
    <h1>Suppression d'un utilisateur</h1>

    <p>Cliquez sur le bouton Supprimer pour supprimer le utilisateur choisi : {{user.nomUser}}</p>


    {{ include('user/_delete_form.html.twig') }}
	<div>
	    <a href="{{ path('user_index') }}">
	    	<button class="btn btn-secondary" id="btnRetour">
	            Revenir dans la liste
	        </button>
	    </a>
    </div>
{% endblock %}